body{
    background-color: rgba(250, 174, 61);
}

.buscador{
    background-color: rgb(146, 24, 8) !important;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    padding-left: 3rem; 
    font-size: 3rem;
    color: white !important;
}
#boton{
    color: white;
    background-color: rgba(250, 174, 61, 0.8);
    border: 1px solid rgba(250, 174, 61, 0.8);
}

#boton:hover{
    background-color: rgba(26, 18, 6, 0.8);
}

main{
    padding-top: ;
    background-color: rgba(250, 174, 61, 0.8);
    display: flex;
    flex-wrap: wrap;
}
.peliculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em 1em;
    margin-top: 6em;
    margin-bottom: 4em; 
}
.pelicula{
    margin: 0.5em;
    text-align: center;
    width: 15em;
}

h3{
    font-size: 1.3em;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.nothing{
    height: 80vh;
}

.noimagen{
    color: rgb(146, 24, 8);
    padding-top: 40%;
    border: 1px transparent white;
    height: 13.5em;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(146, 24, 8);
    color: white;
    padding: 0.5em;
    text-align: center;
}

.pelisPolulares{
    color: white;
}

.botones{
    color: white;
    background-color: rgba(250, 174, 61, 0.8);
    border: 1px solid rgba(250, 174, 61, 0.8);
}

#pagina{
    padding-top: 1em;
}

.botonesPopulares{
    display: none;
}

/* DETALLES DE LAS PELÍCULAS */

.details{
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.imageDetails{
    display:flex;  
    justify-content: center;
}

.title{
    width: 100%;
    margin-bottom: 2.5em;
}

p{
    width: 50%;
    padding-left: 10%;
}

.nodescripcion{
    padding-top: 20%;
}

/* RESPONSIVE */

@media (max-width: 622px) {
     .peliculas{
        margin-top: 8em;
     }
}

@media (max-width: 575px) {
    .peliculas{
       margin-top: 11.5em;
    }
}

/* @media (max-width: 247px) {
    .pelicula{
        width: 13em !important;
     }
} */

@media (max-width: 340px) {
    a.navbar-brand{
       font-size: 2em;
       margin: 0 auto;
    }
}

@media (max-width: 247px) {
    a.navbar-brand{
       font-size: em;
       padding: 0;
    }
}