body{
    background-color: rgba(250, 174, 61);
}

.buscador{
    background-color: rgb(146, 24, 8) !important;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    padding-left: 3rem; 
    font-size: 3rem;
    color: white !important;
}
#boton{
    color: white;
    background-color: rgba(250, 174, 61, 0.8);
    border: 1px solid rgba(250, 174, 61, 0.8);
}

#boton:hover{
    background-color: rgba(26, 18, 6, 0.8);
}

main{
    background-color: rgba(250, 174, 61, 0.8);
    display: flex;
    flex-wrap: wrap;
}
.peliculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em 1em;
    margin-top: 6em;
    margin-bottom: 4em; 
}
.pelicula{
    margin: 0.5em;
    text-align: center;
    width: 15em;
    cursor: pointer;
}

h3{
    font-size: 1.3em;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.nothing{
    height: 80vh;
}

.noimagen{
    color: rgb(146, 24, 8);
    padding-top: 40%;
    border: 1px transparent white;
    height: 13.5em;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(146, 24, 8);
    color: white;
    padding: 0.5em;
    text-align: center;
}

.pelisPopulares{
    color: white;
    cursor: pointer;
    background-color: rgba(250, 174, 61, 0.8);
    border: 1px solid rgba(250, 174, 61, 0.8);
    border-radius: 0.2em;
    padding: 0.5em;
}

.pelisPopulares:hover{
    background-color: rgba(26, 18, 6, 0.8);
}
.botones{
    color: white;
    background-color: rgba(250, 174, 61, 0.8);
    border: 1px solid rgba(250, 174, 61, 0.8);
    border-radius: 0.2em;
}

.botones:hover{
    background-color: black;
}

#pagina{
    padding-top: 1em;
}

.genero{
    font-style: italic;
    margin-top: 0.5em;
    color: black;
}

.noSelect {
    user-select: none; /* Para que no se seleccione el texto*/
}

/* DETALLES DE LAS PELÍCULAS */

.details{
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.imageDetails{
    display:flex;  
    justify-content: center;
}
.imageDetails img{
    align-self: flex-start;
}
.title{
    width: 100%;
    margin-bottom: 2.5em;
}

p{
    width: 50%;
    padding-left: 10%;
}

.nodescripcion{
    padding: 4em 6.5em;
}

button.atras{
    background-color: rgb(146, 24, 8);
    border: 2px solid rgb(146, 24, 8);
    border-radius: 0.2em;
    color: white;
    max-height: 3em;
    padding: 0.5em 1em;
    margin-left: 3em;
    margin-top: 6em;    
}

.atras:hover{
    background-color: black;
}

/* RESPONSIVE */

@media (max-width: 622px) {
     .peliculas{
        margin-top: 8em;
     }
}

@media (max-width: 575px) {
    .peliculas{
       margin-top: 11.5em;
    }
}

/* @media (max-width: 247px) {
    .pelicula{
        width: 13em !important;
     }
} */

@media (max-width: 340px) {
    a.navbar-brand{
       font-size: 2em;
       margin: 0 auto;
    }
}

@media (max-width: 247px) {
    a.navbar-brand{
       font-size: em;
       padding: 0;
    }
}